body {
 background-color: rgb(246,247,250);
}
.container{
  height: 100vh;
  width: 100%;
  background-image: url("./Assets/brooke-cagle-cb4Dv50LN1Y-unsplash\ 1.jpg");
  background-size: 100%;
}
.header {
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 18px;
  line-height: 28.11px;
  font-weight: 700;
}
.bar {
  width: 500px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  color: white;
}
.content {
  margin-left: 100px;
  width: 700px;
  height: 700px;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  row-gap: 50px;
}
.title {
  width: 530px;
  font-size: 48px;
  line-height: 56.3px;
  font-weight: 400;
}
.text {
  width: 320px;
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
}
.inputContainer {
  width: 530px;
  gap: 20px;
}
.input {
  width: 320px;
  height: 52px;
  border: 0.5px solid grey;
  padding-left: 20px;
  border-radius: 4px;
}
.button {
  width: 160px;
  height: 56px;
  background-color: #0bbef2;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  border: 0.5px solid grey;
  margin-left: 20px;
  border-radius: 4px;
}
.button:hover,
.input:hover {
  box-shadow: 0px 0px 5px 0px white;
}
.mini-container {
  width: 700px;
  height: 700px;
  margin-left: 100px;
}
.page {
  color: white;
  text-decoration: none;
}
.logo {
  color: white;
  text-decoration: none;
}
.pageTwoNews{
  width: 465px;
  height: 363px;
  margin-top: 336px;
  margin-left: 140px;
}
.pageTwoNewsPic{
  width:1179px;
  height:705px;
  margin-top:150px;
  margin-left:1000px;
  border-radius:20px;
}
.eventOne{
  position: absolute;
  background-color: white;
  border: 1px solid black;
  width: 263px;
  height: 130px;
  margin-top: 120px;
  margin-left: -120px;
  border-radius: 10px;
}
*{
  margin: 0;
  padding: 0;
}
.mainDiv{
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.firstMain{
  background-color: white;
  width: 366px;
  height: 374px;
}
.star{
  margin-left: 10px;
}
.starDiv{
  width: 180px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text{
   font-size: 18px;
   font-weight: 540;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   display: flex;
   justify-content: center;
   margin-left: 20px;
}
.image{
  margin-left: 35px;
  margin-top:50px;
}
.textName{
  font-weight: 600;
  font-size: 18px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  left: 115px;
  top: 280px;
}
.secondMain{
  width: 363px;
  height: 440px;
  background-color: white;
  border-radius:30px;
  margin-top:20px;
}
.img{
  width: 363px;
  display: flex;
  border-radius: 30px 30px 0 0;
  height: 140px;
}
.textDiv{
  justify-content: center;
  display: flex;
}
.mainText{
  margin-top:25px;
  margin-left: 30px;
  font-weight: 540;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #25313C;
  margin-right: 40px;
}
.SecondMainText{
  font-weight: 540;
  font-size: 14px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.secondMainDivText{
  margin-left: 30px;
  margin-top: 25px;
  margin-right: 1px;
}
.imageTwo{
  width: 50px;
  height: 50px;
  margin-top: 30px;
  margin-left: 15px;
}
.lastText{
  position: absolute;
  left: 100px;
  top: 750px;
}
.Text{
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #6D7D8B;
}